<!DOCTYPE html>

<html lang='fr'>
    <%- include('./fragments/head'); %>

    <body class='container'>
        <main>
            <%- include('./fragments/logo'); %>

            <% if (message) { %> <p><%= message %></p> <% } %>

            <p>Votre score : <%= score %></p> 
            <p>Le mot était : <%= word %></p> 
            
            <%- include('./fragments/share'); %>

            <%- include('./fragments/winners'); %>
        </main>
    </body>
</html>
